<!DOCTYPE html>
<html>
<head>
    <title>Default playground test page</title>
    <!-- Microsoft Edge truncates window title to hostname, if document.title is set to plain URL. -->
    <!-- So we need to add some characters before URL in order to get it in window title.       -->
    <script>document.title = '[' + document.location.toString() + ']'</script>
</head>
<body bgcolor="#f5f5dc">
<h1>This is a playground test page with id {{ id }}</h1>
</body>
</html>
